

body{
    text-align: center;
}

header {
  height: 50%;
  margin-bottom: 15px;
  font-size: 45px;
  font-family: 'Lexend Zetta', sans-serif;
  padding: 1%;

}



#input {
  border: none;
  border-bottom: 1px solid black;  
  font-size: 15px;
}

#input:focus , select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 

#button {
  border: 0;
  background: none;
  font-size: 15px;
  transition: 0.3s;

}

#button:hover {

  
  color: gray;
  font-size: 16px;
  
}
#button:focus , select:focus {
  box-shadow: 0 0 0 0;
  outline: 0;
} 

img {
    width: 250px;
    height: 250px;
}

.container {
  padding-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: stretch;

}

#div {

  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 16px 16px;
  width: 25%;
  height: fit-content;
  margin-left: 10%;
}


#div:hover {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}


.invisible {
    display: none;
}

#divr{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 16px 16px;
  width: 45%;
  margin: 0 10% 0 10%;

}

#divr:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  }
  
a {
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

a:hover {
  color: gray;
}